<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actividad DHTML</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 id="titulo"></h1>

    <button id="btn-agregar-h1">Agregar H1</button>
    <button id="btn-cambiar-color">Cambiar Color H1</button>
    <button id="btn-agregar-img">Agregar Imagen</button>
    <button id="btn-cambiar-img">Cambiar Imagen</button>
    <button id="btn-cambiar-tamano">Cambiar Tamaño Imagen</button>

    <div id="contenedor-imagen"></div>

    <script src="/js/scripts.js"></script>
</body>
</html>