/* Reset y fuentes */
body {
  margin: 0; font-family: Arial, sans-serif; background: #fff; color: #111;
}
a {
  text-decoration: none; color: #111;
}
a:hover {
  color: #f97316; /* naranja Infobae */
}

/* Header: logo + menú */
header {
  text-align: center; padding: 20px 0 10px;
  border-bottom: 1px solid #dddddde9;
}
header h1 {
  margin: 0; font-size: 2.5rem; font-weight: 700;
  color: #29a56f; /* naranja */
}
nav.menu {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: 8px 0 20px;
  font-weight: 600;
  font-size: 0.9rem;
}

/* Contenedor principal */
main.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto 40px;
  gap: 30px;
  padding: 0 15px;
}

/* Noticia principal */
article.main-news {
  flex: 2;
}
article.main-news h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
article.main-news img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}
article.main-news p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Columna derecha */
aside.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
aside.sidebar article {
  display: flex;
  flex-direction: column;
}
aside.sidebar img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}
aside.sidebar h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
  main.container {
    flex-direction: column;
  }
  aside.sidebar {
    flex-direction: row;
    overflow-x: auto;
    gap: 15px;
  }
  aside.sidebar article {
    min-width: 250px;
    flex: 0 0 auto;
  }
}

/*footer*/
footer {
  background-color: #eae9e9;
  padding: 20px 15px;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;
  color: #555;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-nav {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-nav a {
  color: #555;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #f97316;
}

.social-media {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-media a {
  color: #555;
  text-decoration: none;
}

.social-media a:hover {
  color: #f97316;
}