<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Componente 4 - Cambiar tamaño imagen</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Componente 4</h1>

    <button id="btn-cambiar-tamano">Cambiar Tamaño Imagen</button>

    <!-- Contenedor para la imagen -->
    <div id="contenedor-img2">
        <img id="img-tamano" src="/images/descarga (1).jfif" alt="Imagen ejemplo" style="width:200px;">
    </div>

    <script src="/js/scripts.js"></script>
</body>
</html>